@charset "UTF-8";

/*
Paletas de cores
Verde: #49a09d
Lilas: #5f2c82

*/

*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body, html{
    background-color: #5f2c82;
    height: 100vh;
    width: 100vw;
}

main{
    position: relative;
    height: 90vh;
    width: 100vw;
}

section#login{
    background-color: white;
    width: 250px;
    height: 500px;
    border-radius: 20px;
    position: absolute;
    overflow: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) ;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.404);
    transition: width 0.3s, height 0.3s;
    transition-timing-function: ease;
}

section#login > div#imagem{
    display: block;
    background: #5f2c82 url(../imagens/paisagem.jpg) no-repeat;
    height: 200px;
    background-size: cover;
}

section#login > div#formulario{
    display: block;
    padding: 10px;

}